.marquee {
    overflow: hidden;
}

.marquee > p {
    animation: marquee 15s linear infinite;
    color: red;
    position: relative;
}

@media screen and (prefers-reduced-motion: reduce) {
    .marquee > p {
        animation: none;
    }
}

@keyframes marquee {
    0% { left: 100%; }
    100% { left: -50%; }
}
